:root {
    --size-of-profile-image: 4rem;
}

.avatar-img {
    width: var(--size-of-profile-image);
    height: var(--size-of-profile-image);
    border-radius: 50%;
}

.sticky-table-header {
    height: 60vh;
}

.sticky-table-header thead th { 
    position: sticky; 
    top: 0; 
    z-index: 1;
    background-color: white;
}

.table-header-divider th {
    box-shadow: inset 0px -2px #000;
}

.pagination-users > nav > ul > li > a {
    font-size: 1.1rem;
}

table.table > thead > tr {
    font-size: 1.1rem;
}

table.table > tbody > tr:first-child td {
    padding-top: 1.2rem;
}

.sticky-table-header::-webkit-scrollbar {
    width: 12px;
	background-color: #F5F5F5;
    margin-left: -12px;
}

.sticky-table-header::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.sticky-table-header::-webkit-scrollbar-thumb {
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555555e0;
}

.size-logo-button {
    font-size: 1.5rem;
}