:root {
    --size-img-poll-form: 30%;
    --size-img-poll-table: 50%;
}

#img-poll-preview {
    width: var(--size-img-poll-form);
    height: var(--size-img-poll-form);
}

.img-poll {
    width: var(--size-img-poll-table);
    height: var(--size-img-poll-table);
}

.image-cell {
    width: 15rem;
}