{% extends 'base/base-admin.html' %}

{% load static %}
{% load admin_tags %}

{% block 'css-styles' %}
    <link rel="stylesheet" href="{% static 'accounts/css/users.css' %}">
    <link rel="stylesheet" href="{% static 'shared/css/modals.css' %}">
    <link rel="stylesheet" href="{% static 'shared/css/pagination.css' %}">
{% endblock  %}

{% block 'title' %} Users {% endblock %}

{% block 'content' %}
    
    {% if messages %}
        {% include 'accounts/users/modals/delete_success.html'%}
    {% endif %}

    <div>
        <section class="p-3">
            <div class="d-flex justify-content-between">
                <h1>Users</h1>
                <a href="{% url 'accounts:add-users' %}" role="button" class="btn btn-success fs-4">
                    <i class="me-3 bi bi-database-fill-add"></i>
                    <span>Add User</span>
                </a>
            </div>
            <hr class="hr my-2"/>
        </section>
        
        <section class="mb-4 px-3">
            <div x-data="CollapseFilterSectionComponent">
                <div class="w-100 mb-2">
                    <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-filters" aria-expanded="false" aria-controls="collapse-filters"
                        x-bind="button">
                        <i class="bi bi-funnel me-2"></i>Filters
                    </button>
                </div>
                <div class="collapse" id="collapse-filters" x-bind="filter">
                    <fieldset class="border rounded-3 p-3">
                        <legend class="float-none w-auto px-3">Filters</legend>
                        <form action="{% url 'accounts:list-users' %}" method="GET">
                            <div class="row g-2 mb-3">
                                {% for field in filter_form %}
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            {{ field }}
                                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="button" id="reset-btn" class="btn btn-outline-secondary me-2" x-init=""
                                    x-on:click="location.href = '{% url 'accounts:list-users' %}'">
                                    <i class="bi bi-arrow-clockwise me-2"></i>Reset
                                </button>
                                <button class="btn btn-outline-secondary" type="submit">
                                    <i class="bi bi-search me-2"></i>Search
                                </button>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        </section>
    
        <section class="px-3 mb-4">
            <div class="table-responsive sticky-table-header">
                <table class="table">
                    <thead class="table-header-divider">
                      <tr>
                        <th scope="col">Profile Image</th>
                        <th scope="col">Username</th>
                        <th scope="col">Complete Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Date Joined</th>
                        <th scope="col">State</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for user in users %}
                            <tr>
                                <td class="align-middle">
                                    {% if user.photo %}
                                        <img src="{{user.photo.url}}" class="img-fluid avatar-img" 
                                            alt="{{user.username}}">
                                    {% else %}
                                        <img src="{% static 'shared/images/avatar-photo-empty.jpg' %}" 
                                            class="img-fluid avatar-img" alt="{{user.username}}">
                                    {% endif %}                
                                </td>
                                <td>{{user.username}}</td>
                                <td>{{user.first_name}} {{user.last_name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.date_joined}}</td>
                                <td class="fs-5">
                                    {% if user.is_active %}
                                        <span class="badge bg-success">Active account</span>                                    
                                    {% else %}
                                        <span class="badge bg-danger">Disable account</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="d-flex w-100">
                                        <a href="{% url 'accounts:update-users' user.id %}" 
                                            role="button" class="btn btn-outline-success me-3 fs-5">
                                            <i class="bi bi-arrow-bar-up"></i>
                                        </a>
                                        <button class="btn btn-outline-danger me-3 fs-5"
                                            onclick="chargePageModalByURL('{% url 'accounts:delete-users' user.id %}', '#info-modal')">
                                            <i class="bi bi-trash-fill"></i>
                                        </button>
                                        <button type="button"
                                            {% if not user.is_active %}
                                                class="btn btn-outline-secondary me-3 fs-5" disabled 
                                            {% else %} 
                                                class="btn btn-outline-warning me-3 fs-5" 
                                            {% endif %}
                                            onclick="chargePageModalByURL('{% url 'accounts:safe-delete-users' user.id %}', '#info-modal')" >
                                            <i class="bi bi-lock-fill"></i>    
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7">No users found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>    
            </div>
        </section>
        
        <section class="d-flex justify-content-end my-2 px-3 pagination-users">
            {% pagination %}
        </section>
    </div>

    <!-- Modal block -->
    <div class="modal fade" id="info-modal" tabindex="-1" aria-labelledby="modal" data-bs-backdrop="static" data-bs-keyboard="false" 
        aria-hidden="true" role="dialog"></div>

{% endblock %}

{% block 'js-scripts' %}
    <script src="{% static 'accounts/js/users.js' %}"></script>
{% endblock %}