{% extends 'base/base-admin.html' %}

{% load static %}

{% block 'css-styles' %}
    <link rel="stylesheet" href="{% static 'accounts/css/users.css' %}">
    <link rel="stylesheet" href="{% static 'shared/css/modals.css' %}">
{% endblock  %}

{% block 'title' %} Update User {% endblock  %}

{% block 'content' %}

    {% if messages and form.errors %}
        {% include 'base/components/form-fail-modal.html' with messages=messages form=form %}
    {% elif messages %}
        {% include 'accounts/users/modals/update_success.html' with messages=messages %}
    {% endif %}

    <section class="p-3">
        <h1>Update User</h1>
        <hr class="hr my-2"/>
    </section>

    <section class="px-3 mb-3">
        <div class="my-4 px-3 d-flex justify-content-center">
            {% if user.photo %}
                <img src="{{ user.photo.url }}" alt="avatar-photo" id="img-profile-preview" class="">
            {% else %}
                <img src="{% static 'shared/images/avatar-photo-empty.jpg' %}" alt="avatar-photo" id="img-profile-preview" class="">
            {% endif %}
        </div>
        <form action="{% url 'accounts:update-users' user.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3 row">
                    <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}:</label>
                    <div class="col-sm-10 {% if field.name == 'is_active' %} form-check form-switch ps-3 {% endif %}">
                        {{ field }}
                        {% for error in field.errors %}
                            <div class="text-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="mt-4 btn btn-primary btn-lg">
                <i class="bi bi-plus-circle-fill me-2"></i>Update User
            </button>
        </form>
    </section>

{% endblock %}

{% block 'js-scripts' %}
    <script>
        imagePreview({ imgSelector:'#img-profile-preview', fileInputSelector:"input[name='photo']" });
    </script>
{% endblock %}