<div class="modal-body">
    <div class="info-container">
        <div class="m-3 icon d-flex justify-content-center">
            <i class="error bi bi-exclamation-triangle-fill"></i>
        </div>
        <div class="px-3 message-info d-flex flex-column justify-content-center">
            <div>
                {% for msg in messages %}
                    <h4>{{ msg }}</h4>
                {% endfor %}
            </div>
            <div>
                <ol>
                    {% for error, e in form.errors.items  %}
                        <li>
                            <h6>{{ error }}</h6>
                            <h6>{{ e }}</h6>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
</div>
