{% extends 'base/base.html' %}
{% load static %}

{% block 'title' %} Login {% endblock %}

{% block 'css-styles' %}
    <link rel="stylesheet" href="{% static 'shared/css/modals.css' %}">
{% endblock  %}

{% block 'body-content' %}
    
  {% if messages %}
    {% include 'accounts/error-login-modal.html' %}
  {% endif %}

  <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <form action="{% url 'accounts:login' %}" method="POST">
                  {% csrf_token %}
                  <h3 class="mb-5">Sign in</h3>
                  
                  {% for field in form %}
                    <div class="form-outline mb-4">
                      {{ field }}
                      <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                      {% for error in field.errors %}
                          <div class="text-danger">{{ error }}</div>
                      {% endfor %}
                    </div>
                  {% endfor %}

                  <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  
{% endblock %}
