{% load static %}

<nav class="navbar d-grid py-3 h-100">
    <div class="header-navbar my-2 px-3">
        <div class="text-center">
            <img src="{% static 'shared/images/avatar-imagen.jpg' %}" alt="avatar-imagen">
        </div>
        <div class="d-flex flex-column">
            <span>{{ user.username|default:'Username' }}</span>
            <span>
                {% if user.is_active %}
                    <span class="badge bg-success">Active</span>
                {% endif %}
            </span>
        </div>
    </div>
    <ul class="navbar-nav w-100" 
        x-data="{
            sectionSelected: $persist('').using(sessionStorage)
        }">
        <li class="nav-item" data-section="home" 
            x-on:click="sectionSelected = $el.dataset.section"
            x-bind:class="sectionSelected == $el.dataset.section && 'active'">
            <a class="nav-link p-4" href="{% url 'polls:index' %}">
                <i class="bi bi-house"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="nav-item" data-section="users"
            x-on:click="sectionSelected = $el.dataset.section"
            x-bind:class="sectionSelected == $el.dataset.section && 'active'">
            <a class="nav-link p-4" href="{% url 'accounts:list-users' %}">
                <i class="bi bi-person-circle"></i>
                <span>Users</span>
            </a>
        </li>
        <li class="nav-item" data-section="polls"
            x-on:click="sectionSelected = $el.dataset.section"
            x-bind:class="sectionSelected == $el.dataset.section && 'active'">
            <a class="nav-link p-4" href="#">
                <i class="bi bi-clipboard-check-fill"></i>
                <span>Polls</span>
            </a>
        </li>
        <li class="nav-item" data-section="roles"
            x-on:click="sectionSelected = $el.dataset.section"
            x-bind:class="sectionSelected == $el.dataset.section && 'active'">
            <a class="nav-link p-4" href="#">
                <i class="bi bi-people-fill"></i>
                <span>Roles</span>
            </a>
         </li>
    </ul>
    <div class="footer-navbar">
        Footer
    </div>
</nav>