<nav class="navbar">
    <div class="container-fluid">
        <button id='toggle-sidebar' type="button" x-data="ButtonToggleComponent" 
            x-bind="actionSidebarButton">
            <i class="bi bi-list"></i>
        </button>
        <div class="navbar">
            <ul class="nav">
                <li class="nav-item px-2">
                    <a href="{% url 'accounts:logout' %}" class="btn btn-outline-light" rol="button"
                        x-data x-bind="LogoutButton"> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>