:root {
    --width-side-bar: 300px;
    --width-container-section: 100%;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#root-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

#wrapper-content {
    display: flex;
    height: 90%;
    flex: 1;
}

/*
    Top navbar
*/

#top-navbar {
    background-color: #dd4b39;
    color: #fff;
}

#top-navbar button {
    background-color: transparent;
    border: 0;
    font-size: 2rem;
    color: #fff;
    height: 100%;
}

#top-navbar button:hover {
    background-color: #ed513ddf;
    border: 0;
    font-size: 2rem;
}

/* 
    Main Styles 
*/

.sidebar-transition {
    transition: all 0.5s linear !important;
}

main {
    width: 100%;
    max-width: 100%;
}


/* Sidebar */

#sidebar {
    position: relative;
    background-color: #222d32;
    width: var(--width-side-bar);
    margin-left: calc(var(--width-side-bar)*-1);
}

#sidebar > nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 0.25fr;
}

#sidebar.show {
    margin-left: 0px;
}

/* 
    Sidebar
    Header Sidebar 
*/

.header-navbar {
    width: 100%;
    padding: 0 0.5rem;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    align-items: center;
}

.header-navbar > div:nth-child(1) {
    width: 6rem;
    height: 6rem;
}

.header-navbar > div:nth-child(1) > img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 0 auto;
}

.header-navbar > div:nth-child(2) {
    color: white;
    font-style: normal;
    font-weight: 600;
}


/* 
    Sidebar
    Navbar items 
*/

#sidebar ul {
    align-self: self-start;
}

#sidebar ul * {
    font-size: 1.25rem;
    font-weight: lighter;
}

#sidebar a.nav-link {
    display: grid; 
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: 1fr; 
    gap: 0px 10px;
    align-items: center;
    color: #b8c7ce;
    height: 100%;
    width: 100%;
}

#sidebar .nav-item:hover{
    background-color: #42586275;
}

#sidebar .active {
    width: 0%;
}

#sidebar.show .active {
    width: 100%;
    background-color: #42586275;
}

#sidebar .nav-link:hover, #sidebar .nav-link:focus, #sidebar .active {
    color: #d6ecf7d3;
    font-weight: 750;
    font-size: 1.28rem;
}

/* 
    Sidebar
    Footer
*/

#sidebar > nav > .footer-navbar {
    position: relative;
    bottom: 0px;
    color: white;
}

/*
    Sidebar and Main
*/

#sidebar.show + main {
    width: calc(100% - var(--width-side-bar));
}

@media (max-width:1050px) {
    
    main {
        position: absolute;
        width: var(--width-container-section) !important;
        height: 90%;
    }

    #sidebar {
        z-index: 10;
    }

    #sidebar.show {
        width: var(--width-side-bar);
    }

    #sidebar.show + main {
        margin-left: 0px;
    }

}
