{% extends 'base/base.html' %}

{% load static %}

{% block 'global-admin-css-styles' %}
    <link rel="stylesheet" href="{% static 'shared/css/index.css' %}">
{% endblock %}

{% block 'title' %} Dashboard Admin {% endblock  %}

{% block 'body-content' %}
    <div id="root-content">
        
        <section id="top-navbar">
            {% include 'base/layouts/top-navbar.html' %}
        </section>
    
        <section id="wrapper-content">
            
            <!-- Sidebar Component -->
            <aside x-data="SidebarComponent" id="sidebar" class=""
                x-bind:class="openSidebar && 'show'" x-on:toggle-sidebar.window="toggle()">
                {% include 'base/layouts/side-navbar.html' %}
            </aside>
            
            <!-- Main Content Component -->
            <main class="mt-3" x-init="addTransitionClass($el, 200)">
                <div class="container-fluid overflow-y">
                    {% block 'content' %}{% endblock %}
                </div>      
            </main>

        </section>
    </div>

    {% block 'extras' %}{% endblock  %}
{% endblock %}

{% block 'global-admin-js-scripts' %}
    <script src="{% static 'shared/js/index.js' %}"></script>
{% endblock %}
